body {
  background-color: #367B92;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  border-radius: 70px;
  width: 40%;
  height: 40%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #EB7131;
}

li {
  float: left;
}

li a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
  transition-duration: 1s;

}

li a,
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  width: fit-content;

}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: #111;
  width: fit-content;

}

li.dropdown {
  width: fit-content;

  float: right;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: fit-content;
  background-color: #EB7131;
  min-width: fit-content;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  width: fit-content;
  padding: 10px 9px;
  text-decoration: none;
  display: block;
  text-align: left;
}


.dropdown-content a:hover {
  width: fit-content;

  background-color: black;
}

.dropdown:hover .dropdown-content {
  width: fit-content;
  display: block;
}


.caixalgn {
  margin-top: 10%;
  background-color: #EB7131;
  width: 500px;
  height: 350px;
  border-radius: 10px;
}

.caixaregister {
  margin-top: 10%;
  background-color: #EB7131;
  width: 500px;
  height: 450px;
  border-radius: 10px;
}

.btnlogin {
  margin-top: 10%;
  background-color: #367B92;
  padding: 12px 58px;
  font-size: 18px;
  border-radius: 15px;
  border: 0;
  color: white;
}

.btnlogin:hover {
  background-color: black;
  color: white;
  transition-duration: 1s;
}

.alert {
  display: none;
  color: #343247;
  font-weight: bold;
  margin-left: 8%;
}

.linktoregister {
  color: #FFFFFF;
  font-size: 14px;
  text-decoration: none;
}

.linktoregister:hover {
  text-decoration: underline;
}


input[type="text"],
input[type="password"],
input[type="button"] {
  width: 40%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
}
input[type="email"]
{
  width: 40%;
  padding: 10px;
  margin-top: 5px;
  margin-left: 30px;
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
}

input[type="checkbox"] :checked {
  border: none;
  box-sizing: border-box;
}

.graficos {
  background-color: white;
  width: fit-content;
  height: fit-content;
}

.menucontainer {
  margin-top: 17px;
}

#map {
  margin: 10%;
  height: 300px;
  width: 500px;
}

.perfilContainer {
  background-color: #EB7131;
  margin: 2%;
  border-radius: 10px;
  height: 500px;
}

.profilepiccontainer {
  margin-top: 2%;
  margin-left: 2%;
  width: 30%;
  height: 80%;
}

.infoUser {
  border-radius: 10px;
  width: 55%;
  height: 45%;
  display: inline;
  position: fixed;  
  margin-top: 5%;
  margin-left: 100px;
}

.pUserInfo
{
  padding-left: 10px;
}

.estatistica
{
  color: white;
}